
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Generate Barcode", "GenerateBarcode", "Home", new { url = "https://shereenakoum.github.io/barcode/" }, null)
        <br />
        @Html.ActionLink("Generate Barcode", "Generate", "Home", new { url = "http://www.example.com" }, null)
    </div>
</body>
</html>
